<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Dual Subtitles</title>
</head>
<body class="main-popup">
<h1 class="main-popup__title">Simple Dual Subtitles</h1>
<p>Extension to view two sets of subtitles at once on Viki.com</p>
<p>How to Use:</p>
<ol>
  <li>Open a viki episode or movie.</li>
  <li>Switch subtitles to the target language and back.</li>
  <li>Open the extension and select the desired target language.</li>
</ol>
<p class="main-popup__language-info" id="selectUnavailableInfo">A select box will appear in this popup as soon as any subtitles are loaded. It will update, if you load new ones on Viki.</p>
<div class="main-popup__select-wrapper" id="selectWrapper" style="display: none">
  <label class="main-popup__label" for="targetLanguage">Second Subtitle Language:</label>
  <select class="main-popup__select" id="targetLanguage">
  </select>
</div>
</body>
</html>
